<div class="card col-md-3" style="width: 18rem">
  <img [src]="product.imageURL" class="card-img-top" [alt]="product.title" />
  <div class="card-body">
    <h5 class="card-title">
      {{ product.title }}
      <span class="badge rounded-pill bg-success" *ngIf="product.like > 1"
        >Favoris</span
      >
      <span class="badge rounded-pill bg-danger" *ngIf="product.like <= 1"
        >Déprécier</span
      >
    </h5>
    <h6>Prix: {{ product.price | number }} $</h6>
    <p class="card-text">
      {{ product.description }}
    </p>
    <button type="button" (click)="onLike()" class="btn btn-primary">
      like
    </button>
    <p>Number of like: {{ product.like }}</p>
    <a routerLink="/article/{{ product.id }}">Voir l'article</a>
    <input
      type="text"
      placeholder="Entrer un commentaire"
      [(ngModel)]="comment"
    />
    <p>COMMENTAIRE: {{ comment }}</p>
  </div>
</div>
