<div class="container">
  <h2 clas="align-center">Ajouter un nouvel article</h2>
  <form action="" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="mb-3">
      <label for="title">Titre</label>
      <input
        id="title"
        type="text"
        [(ngModel)]="title"
        name="title"
        class="form-control"
        required
        minleng="4"
      />
    </div>

    <div class="mb-3">
      <label for="price">Prix</label>
      <input
        id="price"
        type="text"
        [(ngModel)]="price"
        name="price"
        class="form-control"
        required
        minleng="4"
      />

      required minleng="4"
    </div>
    <button type="submit">Valider</button>
  </form>
</div>
