.card {
    box-shadow      : 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width       : 280px;
    border-radius   : 15px;
    overflow        : hidden;


    .card-body {
        padding       : 8px 12px;
        padding-bottom: 15px;

    }
}

button {
    display: block;
    width  : 100%;
}