<article class="card">
    <header class="card-header">
        <!-- Attribute binding -->
        <img [src]="imageURL" [alt]="title">

    </header>
    <main class="card-body">

        <p>
            <strong>Titre :</strong> {{ title }}
        </p>
        <div class="content">
            {{ description }}
        </div>

        <footer class="footer my-3">
            <strong>{{ snaps }}</strong> Personnes ont aimer {{ createdDate }}
            <button (click)="onAddSnap()" type="button">Aimer</button>
        </footer>
    </main>
</article>
