.app-spinner {
    position        : fixed;
    inset           : 0;
    width           : 100vw;
    min-height      : 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display         : flex;
    justify-content : center;
    align-items     : center;
}