<div class="container">
  <h1 class="text-center">Liste de Pokémon</h1>
  <div class="mb-3">
    <input
      type="text"
      placeholder="Entrer l'identifiant du pokemon à rechercher"
      class="form-control shadow-sm"
      [(ngModel)]="title"
      (input)="takePokemon($event)"
    />
  </div>

  <div class="mb-3">
    <input
      #inputEnter
      type="text"
      placeholder="Test avec la touche entrer"
      (keyup.enter)="getEnterDate(inputEnter.value)"
      class="form-control shadow-sm"
    />
  </div>
  <div class="mb-3">{{ inputEnter.value }}</div>
  <div class="" *ngIf="isLoading; else ngElse">Loading...</div>
  <ng-template #ngElse>
    <ul class="row">
      <li
        *ngFor="let pokemon of filterPokemonList"
        (click)="selectPokemon(pokemon)"
        class="col-md-4 gap-3"
      >
        <article
          (click)="goToPokemon(pokemon)"
          class="card shadow fadeUp cursor-pointer mb-3"
          appBorderCard="#7AA874"
        >
          <header
            class="card-header d-flex justify-content-center align-items-center"
          >
            <img [src]="pokemon.picture" [alt]="pokemon.name" />
          </header>
          <div class="card-body">
            <h5>{{ pokemon.name }}</h5>
            <p>{{ pokemon.createdAt | date : "medium" }}</p>
            <span
              *ngFor="let type of pokemon.types"
              [class]="type | pokemonTypeColor"
              >{{ type }}</span
            >
          </div>
        </article>
      </li>
    </ul>
  </ng-template>
</div>
