<div class="container">
  <a routerLink="/pokemon/add" class="mb-5">Ajouter un pokemeon</a>
  <h1 class="text-center">Liste de Pokémon</h1>
<app-search-pokemon/>
  <!--  <div class="mb-3">
    <input
      #inputEnter
      type="text"
      placeholder="Test avec la touche entrer"
      (keyup.enter)="getEnterDate(inputEnter.value)"
      class="form-control shadow-sm"
    />
  </div>
  <div class="mb-3">{{ inputEnter.value }}</div> -->
  <app-skeleton-card class="row" *ngIf="isLoading; else ngElse"/>
  <ng-template #ngElse>
    <ul class="row">
      <li
        *ngFor="let pokemon of filterPokemonList"
        (click)="selectPokemon(pokemon)"
        class="col-md-4 gap-3"
      >
        <article
          (click)="goToPokemon(pokemon)"
          class="card shadow fadeUp cursor-pointer mb-3"
          appBorderCard="#7AA874"
        >
          <header
            class="card-header d-flex justify-content-center align-items-center"
          >
            <img [src]="pokemon.picture" [alt]="pokemon.name" />
          </header>
          <div class="card-body">
            <h5>{{ pokemon.name }}</h5>
            <p>{{ pokemon.createdAt | date : "medium" }}</p>
            <span
              *ngFor="let type of pokemon.types"
              [class]="type | pokemonTypeColor"
              >{{ type }}</span
            >
          </div>
        </article>
      </li>
    </ul>
  </ng-template>
</div>
