<div class="container">
  <h2 clas="align-center">Ajouter un nouvel article</h2>
  <form action="" class="needs-validation" class="mb-5" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="mb-3">
      <label for="title">Titre</label>
      <input id="title" type="text" class="form-control" name="title" [formControl]="title" required minlength="4" />
    </div>

    <div class="mb-3">
      <label for="price">Prix</label>
      <input id="price" type="text" name="price" [formControl]="price" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-secondary">Valider</button>
  </form>
</div>