<div class="container">
  <h2 clas="align-center">Ajouter un nouvel article</h2>
  <form action="" (ngSubmit)="formSubmit(f)" #f="ngForm" class="mb-5">
    <div class="mb-3">
      <label for="title">Titre</label>
      <input
        id="title"
        type="text"
        name="title"
        class="form-control"
        [(ngModel)]="title"
        required
        minleng="4"
      />
    </div>

    <div class="mb-3">
      <label for="price">Prix</label>
      <input
        id="price"
        type="text"
        name="price"
        [(ngModel)]="price"
        class="form-control"
        required
        minleng="4"
      />
    </div>
    <button type="submit" class="btn btn-secondary">Valider</button>
  </form>
</div>
