/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
    font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color      : #333;
    margin     : 0;
    padding    : 0;
}

.container {
    max-width: 1240px;
    margin   : 0 auto;
}

@for $i from 1 through 10 {
    .mt-#{$i} {
        margin-top: 0.25rem * $i;
    }
}

@for $i from 1 through 5 {
    .text-#{$i} {
        font-size: 0.35rem * $i;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i} {
        margin-bottom: 0.25rem * $i;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i} {
        margin-top: 0.25rem * $i;
    }
}

body {
    background-color: #f5f5f5;
}

@for $i from 1 through 5 {

    .my-#{$i} {
        margin: (0.23*$i) * 1rem 0;
    }
}

button {
    border    : none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.01);
    cursor    : pointer;
}

.btn {
    padding      : 8px 12px;
    border-radius: 4px;

}

.btn-primary {
    background-color: rgb(40, 121, 243);
    color           : #fff;
}

.btn-shadow {
    box-shadow      : 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: transparent;

    &:active,
    &:focus {

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

ul,
ol {
    list-style: none;
}

.card {

    &.single-facesnap {
        border-radius: 0;
        margin-top   : 2rem;
        box-shadow   : none !important;

        .card-header {
            img {
                max-width   : 880px;
                width       : 550px;
                height      : 350px;
                aspect-ratio: auto;
                overflow    : hidden;
            }
        }
    }
}

main.body {
    display       : flex;
    flex-direction: column;
    min-height    : 100vh;

    .footer {
        margin-top: auto;
    }
}