.card {
    display       : flex;
    flex-wrap     : nowrap;
    flex-direction: row;
    gap           : 10px;
    padding       : 10px;
    max-width     : max-content;

    .card-header,
    .card-body {
        flex-basis: 50%;
        width     : 50%;
        max-width : max-content;
    }
}

.fadeUp {
    animation: backwards 0.35s fadeUp;
}

@keyframes fadeUp {
    0% {
        opacity  : 0;
        transform: scale(0.9);
    }

    100% {
        opacity  : 1;
        transform: scale(1);
    }

}