<div class="container">
  <div class="mb-3">
    <input
      type="number"
      placeholder="Entrer l'identifiant du pokemon à rechercher"
      class="form-control shadow-sm"
      (input)="takePokemon($event)"
    />
  </div>
  <div class="mb-3">
    <input
      #input
      type="text"
      placeholder="new Input"
      (keyup)="(0)"
      class="form-control shadow-sm"
    />
  </div>

  <div class="mb-3">
    <input
      #inputEnter
      type="text"
      placeholder="Test avec la touche entrer"
      (keyup.enter)="getEnterDate(inputEnter.value)"
      class="form-control shadow-sm"
    />
  </div>
  <div class="mb-3">{{ input.value }}</div>
  <div class="mb-3">{{ inputEnter.value }}</div>
  <ul class="row">
    <li
      *ngFor="let pokemon of filterPokemonList"
      (click)="selectPokemon(pokemon)"
      class="col-md-4 gap-3"
    >
      <article
        class="card shadow fadeUp cursor-pointer mb-3"
        appBorderCard="#7AA874"
      >
        <header
          class="card-header d-flex justify-content-center align-items-center"
        >
          <img [src]="pokemon.picture" [alt]="pokemon.name" />
        </header>
        <div class="card-body">
          <h5>{{ pokemon.name }}</h5>
          <p>{{ pokemon.createdAt | date : "medium" }}</p>
        </div>
      </article>
    </li>
  </ul>
</div>
